#root{
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  overflow: hidden;
}

.menu{
  background:#222;
  height:100vh;
}

.row{
  margin:0px;
  width:100%;
}

.container{
  max-width: 100%;
  padding:0px;
}

.col-sm-2{
  padding:0px;
}
.col-sm-10{
  padding:0px;
}

.menu a{
  text-decoration: none;  
}
.menuItem{
  padding:10px 10px;
  color:#fff;
  cursor:pointer;
  text-decoration: none;
  font-size: 13px;
  transition: 0.3s;
}


.menuItem:hover{
  background:#4193A0;
}

.logo{
  padding:40px 0px;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  color:#fff;
  text-align: center;
}

.loginContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:100vh;
  align-items: center;
}



.loginBox{
  background:#fff;
  border-radius: 5px;
  border:1px #eee solid;
  width:30%
}

.loginHead{
  background:#CCF2F8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding:10px;
  font-weight: bold;
  font-size: 13px;
  color:#222;
}

.displayBox{
  padding:20px;
  position:relative;
}

.profilePicture{
  position: absolute;
  top:20px;
  right:20px;
  width:150px;
  height:150px;
  border-radius: 10px;
  border:5px #fff solid;
}

.profilePicture img{
  width: 100%;
}

.displayBox span{
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  color:#777;
  display: block;
}

.displayBox input{
  margin-top:10px;
  margin-bottom: 30px;
  width:95%;
}



.displayBox select{
  margin-top:10px;
  margin-bottom: 30px;
  width:95%;
}

.input{
  -webkit-appearance: none;
  outline: none;
  display: block;
  width: 100%;
  height: 32px;
  padding: 0.375rem 0.75rem;
  line-height: 1.42857;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  font-size: 14px;
}

.fas{
  vertical-align: middle;
}

.btn{
  font-size: 12px;
  padding:5px 13px;
  font-weight: bold;

}

.btn-primary{
  background-color: #4193A0 !important;
  border-color: #4193A0 !important;
}

.title {
  font-size: 20px;
  padding: 15px 15px;
  color: #444;
    font-family: "Inter" !important;
  border-bottom: 1px #eee solid;
}

.fullheight{
  height:100vh;
  overflow-y:auto;
}

.datatable th{
  background: #FBFAFA;
}


.dataTable th {
    font-family: "Inter";
  

  vertical-align: middle !important;
  padding: 5px 10px;
  font-size: 12px;
  position: sticky;
  background: #FBFAFA !important;
  box-shadow: 0 1px 1px -1px #eee;
  margin-top: -5px;
  top: 0;
  border-bottom: 2px #bbb solid !important;
  color: #444444;
  /* Don't forget this, required for the stickiness */
}

.dataTable tr {
  cursor: pointer;
}

.dataTable td {
  padding: 7px 10px !important;
  font-size: 13px !important;
  text-align: left;
}

.text-primary{
  cursor: pointer;
}

.displayBox .col-sm-12,.displayBox .col-sm-6{
  padding:20px 0px;

}

.badge{
  display: inline-block !important;
  padding:10px !important;
  margin-right:10px;
}

.badge-light{
  background:#DAF8FC;
}

.modal-backdrop{
  background:rgba(0,0,0,0.5);
}

.buttonRight{
  float:right;
  
}

.modal{
  overflow-y: auto !important;;
}

.loadingSet{
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(255,255,255,0.9);
  z-index: 20000;
}

.loadingBar{
  text-align: left;
  padding-top:20px;
  padding-left:20px;
  font-weight: bold;;
  font-size: 12px;
  color:#222;
}